/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
    height: 100%;
}
   
input{
        border: 1px solid #242c37;
        border-radius: 999px;
        background-color: transparent;
}

body {
    line-height: 1.5;
    font-family: Helvetica,sans-serif;
    background-image: url('../img/backgroundimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    font: 300;
    font-size: 1rem;
    margin: 0;
    min-height: 100%;
}

h1 {
        font-size: 2.75rem;
        font-weight: 100;
        margin: 0 0 1rem;
        text-transform: uppercase;
        color: #7e8ba3;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: black;
}

input {
    border: 1px solid white;
    padding: 12px;
    outline: none;
}

button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box; 
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;

  }

button:hover {
    background-color:#4095c6;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background:transparent;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    background: #2c2f3a;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    /* list-style-type: none; */
    font-weight: 300;
    padding: 12px 24px 0 24px;
    background: #515563;
}

.align {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .register {
    box-shadow: 0 0 250px white;
    text-align: center;
    padding: 4rem 2rem;
  }